10_recursos_visuales/07_coleccion_expandida_4k/**/*.png filter=lfs diff=lfs merge=lfs -text
10_recursos_visuales/09_archivo_generaciones_completo/**/*.png filter=lfs diff=lfs merge=lfs -text
10_recursos_visuales/10_tipografias/**/*.ttf filter=lfs diff=lfs merge=lfs -text
10_recursos_visuales/10_tipografias/**/*.woff2 filter=lfs diff=lfs merge=lfs -text
10_recursos_visuales/10_tipografias/**/*.zip filter=lfs diff=lfs merge=lfs -text
10_recursos_visuales/06_graficos_4k/**/*.png filter=lfs diff=lfs merge=lfs -text
10_recursos_visuales/11_exploracion_sistema_visual_2026-08-31/**/*.png filter=lfs diff=lfs merge=lfs -text
10_recursos_visuales/12_expansion_sistema_visual_2026-09-01/**/*.png filter=lfs diff=lfs merge=lfs -text
